{% extends 'header.html' %}
{% load static %}
{% block title %} 404 Page not Found {% endblock %}
{% block content %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One:900" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static '/css/404.css'%}" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>:(</h1>
			</div>
			<h2>404 - Page not found</h2>
			{% comment %} <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p> {% endcomment %}
			<p>It looks like you found a glitch in the matrix...</p>
			<a href="{% url 'index' %}">home page</a>
		</div>
	</div>

{% endblock %}
