<style>
  [data-custom-class='body'], [data-custom-class='body'] * {
          background: transparent !important;
        }
[data-custom-class='title'], [data-custom-class='title'] * {
          font-family: Arial !important;
font-size: 26px !important;
color: #000000 !important;
        }
[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
          font-family: Arial !important;
color: #595959 !important;
font-size: 14px !important;
        }
[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
          font-family: Arial !important;
font-size: 19px !important;
color: #000000 !important;
        }
[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
          font-family: Arial !important;
font-size: 17px !important;
color: #000000 !important;
        }
[data-custom-class='body_text'], [data-custom-class='body_text'] * {
          color: #595959 !important;
font-size: 14px !important;
font-family: Arial !important;
        }
[data-custom-class='link'], [data-custom-class='link'] * {
          color: #3030F1 !important;
font-size: 14px !important;
font-family: Arial !important;
word-break: break-word !important;
        }
</style>

      <div data-custom-class="body">
      <div><div align="center" class="MsoNormal" data-custom-class="title" style="text-align: left; line-height: 1.5;"><a name="_4r5vko5di6yg"></a><strong><span style="line-height: 150%; font-size: 26px;">DISCLAIMER</span></strong></div><div align="center" class="MsoNormal" style="text-align:center;line-height:150%;"><a name="_l2jmcqu2bv4x"></a></div><div align="center" class="MsoNormal" data-custom-class="subtitle" style="text-align: left; line-height: 150%;"><br></div><div align="center" class="MsoNormal" data-custom-class="subtitle" style="text-align: left; line-height: 150%;"><span style="color: rgb(127,127,127); font-size: 15px; text-align: justify;"><strong>Last updated </strong><bdt class="block-container question question-in-editor" data-id="f06b270d-4b70-bc53-bef4-2d8996dff70b" data-type="question"><strong>May 01, 2021</strong></bdt></span></div><div class="MsoNormal" style="text-align: justify; line-height: 1.5;"><br></div><div class="MsoNormal" style="text-align: justify; line-height: 1.5;"><br></div><div class="MsoNormal" data-custom-class="heading_1"><a name="_xs0r05tcjblb"></a><strong><span style="line-height: 115%; font-size: 19px;">WEBSITE DISCLAIMER</span></strong></div></div><div style="line-height: 1.2;"><br></div><div><div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span style="color: rgb(89, 89, 89); font-size: 15px;">The information provided by <bdt class="block-container question question-in-editor" data-id="1e91c6ac-db3b-ab40-09dc-333e7d471e6c" data-type="question">Shopizee</bdt> <bdt class="block-container if" data-type="if" id="0043ef2f-6d7b-8e27-e1f5-16cde0f30348"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>is for general informational purposes only. All information on the Site <bdt class="block-container if" data-type="if" id="428f10b0-7ca9-4039-dfea-5f29f51c3cb3"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>is provided in good faith, however we make no
representation or warranty of any kind, express or implied, regarding the
accuracy, adequacy, validity, reliability, availability or completeness of any
information on the Site<bdt class="block-container if" data-type="if" id="11270515-826f-ee20-0a2a-4e8bee9f9f2c"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE <bdt class="block-container if" data-type="if" id="4971e65f-eff0-5c18-83f1-a0dcd056e8c2"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>OR RELIANCE ON ANY
INFORMATION PROVIDED ON THE SITE<bdt class="block-container if" data-type="if" id="ddcaf594-2bb0-bdc0-460e-1f96dfe89e6d"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>. YOUR USE OF THE SITE <bdt class="block-container if" data-type="if" id="57726b77-4115-2533-2424-58bc8b6a12a8"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE <bdt class="block-container if" data-type="if" id="3e90b11e-6e7d-ab89-2c29-33668d0f521d"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="mobile_app_option" data-type="statement"></bdt></bdt>IS SOLELY AT YOUR OWN RISK.</span></div></div><div style="line-height: 1.2;"><br></div><div><div class="MsoNormal"><a name="_x1u8x12nt00e"></a></div><bdt class="block-container if" data-type="if" id="25d6783f-eaa7-3465-7bd8-31e107cc0931"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="external_disclaimer_option" data-type="statement"></bdt><bdt data-type="body"><div class="MsoNormal" data-custom-class="heading_1"><strong><span style="line-height: 115%; font-size: 19px;">EXTERNAL LINKS
DISCLAIMER<br></span></strong></div></bdt></bdt></bdt></div><div style="line-height: 1.2;"><br></div><div><bdt class="block-container if" data-type="if"><bdt data-type="conditional-block"><bdt data-type="body"><div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span style="color: rgb(89, 89, 89); font-size: 15px;">The </span><span style="font-size: 15px;"><span style="color: rgb(89, 89, 89);">Site <bdt class="block-component"></bdt>may contain (or you may be sent through the Site<bdt class="block-component"></bdt>) links</span></span><span style="color: rgb(89, 89, 89); font-size: 15px;"> to other
websites or content belonging to or originating from third parties or links to
websites and features in banners or other advertising. Such external links are
not investigated, monitored, or checked for accuracy, adequacy, validity, reliability,
availability or completeness by us. WE DO NOT WARRANT, ENDORSE, GUARANTEE, OR
ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION
OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR
FEATURE LINKED IN ANY BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR
IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</span></div></bdt></bdt></bdt></div><div style="line-height: 1.2;"><br></div><div><bdt class="block-container if" data-type="if"><bdt class="statement-end-if-in-editor" data-type="close"></bdt></bdt><div class="MsoNormal"><a name="_wfmrqujylbbj"></a></div><bdt class="block-container if" data-type="if" id="098cd9ba-027e-0afb-ec22-41e16cb68d79"><bdt data-type="conditional-block"><bdt class="block-component" data-record-question-key="professional_disclaimer_option" data-type="statement"></bdt></bdt></div><div><bdt class="block-component"></bdt></div><div data-custom-class="heading_1"><strong>AFFILIATES DISCLAIMER</strong></div><div style="line-height: 1.2;"><br></div><div data-custom-class="body_text">The Site <bdt class="block-component"></bdt>may contain links to affiliate websites, and we receive an affiliate commission for any purchases made by you on the affiliate website using such links. <bdt class="block-component"></bdt></div><div style="line-height: 1.2;"><br></div><div data-custom-class="body_text"><bdt class="block-component"></bdt><bdt class="block-component"></bdt></bdt></div><div style="line-height: 1.2;"><br></div><div><bdt class="statement-end-if-in-editor"><bdt class="statement-end-if-in-editor"></bdt></bdt></div><div><bdt data-type="conditional-block" style="text-align: start;"><bdt data-type="body"><div class="MsoNormal" style="text-align: justify;"><bdt class="block-component"></bdt></bdt></span></bdt></bdt></bdt></bdt></bdt></span><div class="MsoNormal"><br></div></bdt></bdt></bdt></div><style>
      ul {
        list-style-type: square;
      }
      ul > li > ul {
        list-style-type: circle;
      }
      ul > li > ul > li > ul {
        list-style-type: square;
      }
      ol li {
        font-family: Arial ;
      }
    </style>
      </div>