{% extends 'header.html' %}
{% load static %}
{% block title %} Shopizee {% endblock %}
{% block content %}
<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			{% for banner in banner%}
			<div class="item-slick1" style="background-image: url({{banner.images.url}});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								{{banner.title}}
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								{{banner.sub_title}}
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							<a href="{{banner.link}}" target="blank"
								class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<!-- Modal -->
{% comment %} <div class="modals">
	{% include 'shopizee/details.html' %}
</div> {% endcomment %}
<!-- Modal -->

<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
	<div class="container">
		<div class="row">
			{% for category in cat_menu %}
			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<div class="block1 wrap-pic-w">
					<img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER">

					<a href="{% url 'category' category %}"
						class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								{{category}}
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				Product Overview
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Products
				</button>
				{% for category in category %}
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{ category.category }}">
					{{ category.category }}
				</button>
				{% endfor %}
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="q" value="{{request.GET.q}}"
							placeholder="Search">
					</div>
				</form>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brand
						</div>
						<form action="">
							<div class="flex-w p-t-4 m-r--5">
								{% for brand in brand %}
								<button type="submit"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
									name="filterr" value="{{brand}}">
									{{brand}}
								</button>
								{% endfor %}
							</div>
						</form>
					</div>

					{% comment %} <div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>
						</ul>
					</div> {% endcomment %}
				</div>
			</div>
		</div>

		<div class="row isotope-grid">
			{% if empty%}
			<h1>No Product Found!!</h1>
			{% else %}
			{% for products in page_obj %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ products.category }}">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="{{products.img.url}}" alt="IMG-PRODUCT">
						<form action="{% url 'details' products.pk %}" method="POST" class="details" name="{{ products.pk }}">
						{% csrf_token %}
							<button type = "submit" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1 product_id " value="{{ products.pk }}">
								Quick View
							</button>
						</form>
					</div>
					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="{% url 'product_detail' products.pk products.slug %}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{products.title}}
							</a>

							<span class="stext-105 cl3">
								$16.64
							</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<!-- pagination -->
		<div class="row">
			<!-- pagination -->
			<div class="col-md-12">
				<div class="post-pagination">
					<!-- For Back Button -->
					{% if page_obj.has_previous %}
					<a href="?page={{ page_obj.previous_page_number }}" class="pagination-back pull-left">Back</a>
					{% endif %}
					<!-- For Back Button -->

					<!-- For Number Button -->
					{% for n in page_obj.paginator.page_range %}
					<ul class="pages">
						{% if page_obj.number == n %}
						<li class="active">
							{{ n }}
						</li>
						{% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %} <li><a
								href="?page={{ n }}">{{ n }}</a></li>
							{% endif %}
					</ul>
					{% endfor %}
					<!-- For Number Button -->

					<!-- For Next Button -->
					{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}" class="pagination-next pull-right">Next</a>
					{% endif %}
					<!-- For Next Button -->
				</div>
			</div>
			<!-- pagination -->
		</div>
		<!-- pagination -->
	</div>
</section>
{% endblock %}