{% extends 'header.html' %}
{% load static %}
{% block content%}

<div class="bg0 m-t-100 p-b-140" >
<div class="home-blog-area section-padding10 m-t-100">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center mb-50">
					<h2>Delete Product</h2>
				</div>
			</div>
		</div>
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">   		
					<form  method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						<h2>Are You Sure?</h2>
						<br>
						<h5>Are you sure want to delete the selected Product?</h5>
						<br>
						<br>
						<strong>Summary:</strong>
						<br>
						<ul class="list-group list-group-flush">
						<li class="list-group-item">{{object.title}}</li>
						</ul>
						<br>
						<br>
						<button class="btn btn-danger">Yes, I'm sure</button>
					</form>
				</div>
			</div>
		</div>
	</div>	
</div>
</div>
{% endblock %}
