{% extends 'header.html' %}
{% load static %}
{% block title %} Shopizee | Shop {% endblock %}
{% block content %}
{% comment %} <div class="bg0 m-t-100 p-b-140" > {% endcomment %}
<!-- Product -->
<section class="bg0 p-t-100 p-b-100">
	<div class="container">
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Products
				</button>
				{% for category in category %}
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{ category.category }}">
					{{ category.category }}
				</button>
				{% endfor %}
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="q" value="{{request.GET.q}}" placeholder="Search">
				</div>	
            	</form>
			</div>
			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Brand
						</div>
						<div class="flex-w p-t-4 m-r--5">
							{% for brand in brand %}
							<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								{{brand}}
							</a>
							{% endfor %}
						</div>
					</div>

					{% comment %} <div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>
						</ul>
					</div> {% endcomment %}
				</div>
			</div>
		</div>

		<div class="row isotope-grid">
			{% if empty%}
			<h1>No Product Found!!</h1>
			{% else %}
			{% for products in page_obj %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ products.category }}">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="{{products.img.url}}" alt="IMG-PRODUCT">
						<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Quick View
						</a>
					</div>
					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="{% url 'product_detail' products.pk products.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{products.title}}
							</a>

							<span class="stext-105 cl3">
								$16.64			
							</span>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
		<!-- pagination -->
			<div class="row">
				<!-- pagination -->
				<div class="col-md-12">
					<div class="post-pagination">
						<!-- For Back Button -->
						{% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}" class="pagination-back pull-left">Back</a>
						{% endif %}
						<!-- For Back Button -->

						<!-- For Number Button -->
						{% for n in page_obj.paginator.page_range %}
						<ul class="pages">
						{% if page_obj.number == n %}
							<li class="active">
							{{ n }}
							</li>
						{% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
							<li><a href="?page={{ n }}">{{ n }}</a></li>
						{% endif %}
						</ul>
						{% endfor %}
						<!-- For Number Button -->

						<!-- For Next Button -->
						{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}" class="pagination-next pull-right">Next</a>
						{% endif %}
						<!-- For Next Button -->
					</div>
				</div>
				<!-- pagination -->
			</div>
		<!-- pagination -->
	</div>
</section>
</div>
{% endblock %}		
