{% extends 'header.html' %}
{% load static %}
{% block content%}

<div class="bg0 m-t-100 p-b-140" >
<div class="home-blog-area section-padding10">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center m-b-50 m-t-50">
					<h2>Update Post</h2>
				</div>
			</div>
		</div>
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="form-group">   		
					<form  method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{form.media}} 
						{{form.as_p}} 		       		    
						<button class="btn btn-success m-t-10">Update</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>	
</div>
{% endblock %}
