{% extends 'header.html' %}
{% load static %}
{% block title %} Change Password {% endblock %}
{% block content%}

<!-- Percentage Bar Start -->
<div class="percentage m-t-100">
	<div class="progress">
		<div class="progress-bar color-1" role="progressbar" style="width: 100%"
			aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
<!-- Percentage Bar End -->

<div class="home-blog-area section-padding10 m-t-50">
	<div class="container">
		<!-- Section Tittle -->
		<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center m-b-50">
					<h2>User Profile</h2>
				</div>
			</div>
		</div>
		<!-- Section Tittle -->

        <div class="section-tittle text-left m-b-50">          
            <a href="{% url 'edit_profile' %}" class="btn btn-primary radius">Edit Profile</a>
            <a href="{% url 'password' %}" class="btn btn-primary radius">Change Password</a>
        </div>
        
        <div class="row">
            <!-- ============================================================== -->
            <!-- validation form -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 section-tittle  m-b-50 m-t-10">
                <div class="card">
                    <h5 class="card-header">Change Password</h5>
                    <div class="card-body">
                        <form class="needs-validation" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2 m-t-10">
                                    <label for="validationCustom01">Old Password</label>
                                        {{form.old_password}}
                                </div>
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-2 m-t-10">
                                    <label for="validationCustom02">New Password</label>
                                        {{form.new_password1}}
                                </div>
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-2 m-t-10">
                                    <label for="validationCustom02">Confirm Password</label>
                                        {{form.new_password2}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 m-b-2 m-t-10">
                                    <button class="btn btn-primary e-large" type="submit">Change Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end validation form -->
            <!-- ============================================================== -->
        </div>
    </div>
</div> 
<!-- Form End -->

{% endblock %}
