{% extends 'header.html' %}
{% load static %}
{% block content %}
<div class="bg0 m-t-100 p-b-140" >
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
			<div class="row">
			<div class="col-lg-12">
				<div class="section-tittle text-center mb-50">
					<h2>My Products</h2>
					<!-- Add Post Button Start-->
					<div style="text-align:right;border: 100px;">
						<div class="button-group-area mt-10">
							<a href="{% url 'add_product' %}" class="btn btn-primary circle">Add Post</a>
							<a href="{% url 'add_category' %}" class="btn btn-success circle">Add Category</a>
							<a href="{% url 'add_brand' %}" class="btn btn-warning circle">Add Brand</a>
							<a href="{% url 'add_banner' %}" class="btn btn-danger circle">Add Banner</a>
						</div>
					</div>
					<br><br>
					<!-- Add Post Button End -->
				</div>
			</div>
		</div>
		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Products
				</button>
				{% for category in category %}
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".{{ category.category }}">
					{{ category.category }}
				</button>
				{% endfor %}
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form action="">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="q" value="{{request.GET.q}}" placeholder="Search">
				</div>	
            	</form>
			</div>
		</div>

		<div class="row isotope-grid">
			{% if bool == True %} 
			{% for products in page_obj %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{ products.category }}">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="{{products.img.url}}" alt="IMG-PRODUCT">
						<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
							Quick View
						</a>
					</div>
					<form action="{% url 'details' products.pk %}" method="POST" class="details" name="{{ products.pk }}">
					{% csrf_token %}
    				<button type="submit",class="product_id", value="{{ products.pk }}" ,style="background-color: Transparent; background-repeat:no-repeat;border: none; cursor:pointer; overflow: hidden; outline:none;"><p class="like-info"><span class="align-middle"><i class="fa fa-heart" style="font-size:30px;color:red" type="submit"></i></span></p></button>
					</form>
					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="{% url 'product_detail' products.pk products.slug %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{products.title}}
							</a>

							<div style="text-align:right;border: 100px;">
								<div class="button-group-area mt-10">
									<a href="{% url 'update_product' products.pk %}" class="btn btn-success circle" style="text-align-last: right;">Edit</a>
									<a href="{% url 'delete_product' products.pk %}" class="btn btn-danger circle">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<h1>No Product Found!!</h1>
			{% endif %}
		</div>
		<!-- pagination -->
			<div class="row">
				<!-- pagination -->
				<div class="col-md-12">
					<div class="post-pagination">
						<!-- For Back Button -->
						{% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}" class="pagination-back pull-left">Back</a>
						{% endif %}
						<!-- For Back Button -->

						<!-- For Number Button -->
						{% for n in page_obj.paginator.page_range %}
						<ul class="pages">
						{% if page_obj.number == n %}
							<li class="active">
							{{ n }}
							</li>
						{% elif n > page_obj.number|add:'-3' and n < page_obj.number|add:'3' %}
							<li><a href="?page={{ n }}">{{ n }}</a></li>
						{% endif %}
						</ul>
						{% endfor %}
						<!-- For Number Button -->

						<!-- For Next Button -->
						{% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}" class="pagination-next pull-right">Next</a>
						{% endif %}
						<!-- For Next Button -->
					</div>
				</div>
				<!-- pagination -->
			</div>
		<!-- pagination -->
	</div>
</section>
</div>
{% endblock %}

