{% extends 'header.html' %}
{% load static %}
{% block title %} Password Reset Confirm {% endblock %}
{% block content%}

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
<!--===============================================================================================-->

	
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			{% if validlink %}
			<div class="login100-pic js-tilt" data-tilt>
				<img src="{% static 'assets/img/img-01.png' %}" alt="User">
			</div>

			<form action="" method="post" class="login100-form validate-form">
				{% csrf_token %} 
				{% for field in form %}
					{% for error in field.errors %}
						<div class="container-fluid p-0">
						<div class="alert alert-danger alert-dismissible" role="alert" >
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
							{{ error }}
						</div>
						</div>
					{% endfor %}
				{% endfor %}
	
				<span class="login100-form-title">
					Password Reset
				</span>

				<div class="wrap-input100 validate-input" data-validate = "Password is required">
					<input class="input100" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New Password">			
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Password is required">
					<input class="input100" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm Password">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>

				<div class="container-login100-form-btn">
					<input class="login100-form-btn" type="submit" value="Change password" />
				</div>
			</form>
		{% else %}
			<div class="container-login100-form-btn">
				<p>
				The password reset link was invalid, possibly because it has already been used.
				Please request a new password reset.
				</p>
			</div>
		{% endif %}
		</div>
	</div>
</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script> 
<!--===============================================================================================-->
	<script src="{% static '/js/login.js' %}"></script>

{% endblock %} 