{% extends 'header.html' %}
{% load static %}
{% block title %} Password reset sent {% endblock %}
{% block content%}

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
<!--===============================================================================================-->

	
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 pt-5">
			<span class="login100-form-title">
				Password reset sent
			</span>
			<span>
				We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

				If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
			</span>
		</div>
	</div>
</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script> 
<!--===============================================================================================-->
	<script src="{% static '/js/login.js' %}"></script>

{% endblock %} 