{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %} Shopizee {% endblock %}</title>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon1.png' %}" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/linearicons-v1.0.0/icon-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/slick/slick.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/MagnificPopup/magnific-popup.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!--===============================================================================================-->
	<style type="text/css">
		.searchh-box {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #2f3640;
			height: 40px;
			border-radius: 40px;
			padding: 10px;
		}

		.searchh-btn {
			color: #717fe0;
			float: right;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #2f3640;
			display: flex;
			justify-content: center;
			align-items: center;

		}

		.searchh {
			border: none;
			background: none;
			outline: none;
			float: left;
			padding: 0;
			color: white;
			font-size: 16px;
			transition: 0.4s;
			width: 0px;
		}

		.searchh-box:hover>.searchh {
			width: 240px;
			padding: 0 6px;
		}

		/* -- Pagination -- */
		.post-pagination {
			margin-top: 40px;
			text-align: center;
		}

		.post-pagination .pages {
			display: inline-block;
		}

		.post-pagination .pages li {
			display: inline-block;
		}

		.post-pagination .pages li+li {
			margin-left: 10px;
		}

		.post-pagination .pages li {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			border-radius: 50%;
			background-color: #EBEBEB;
			-webkit-transition: 0.2s all;
			transition: 0.2s all;
		}

		.post-pagination .pages li a {
			display: block;
			-webkit-transition: 0.2s color;
			transition: 0.2s color;
		}

		.post-pagination .pages li:hover,
		.post-pagination .pages li.active {
			background-color: #717fe0;
			color: #FFF;
		}

		.post-pagination .pages li:hover a {
			color: #FFF;
		}

		.pagination-back,
		.pagination-next {
			display: block;
			text-align: center;
			border-radius: 40px;
			background-color: #EBEBEB;
			-webkit-transition: 0.2s all;
			transition: 0.2s all;
			height: 40px;
			padding: 0px 30px;
			line-height: 40px;
		}

		.pagination-next:hover,
		.pagination-back:hover {
			color: #FFF;
			background-color: #717fe0;
		}

		.pagination-next:after {
			content: "\f178";
			font-family: FontAwesome;
			margin-left: 15px;
		}

		.pagination-back:before {
			content: "\f177";
			font-family: FontAwesome;
			margin-right: 15px;
		}

		@media only screen and (max-width: 767px) {

			/*-- Pagination --*/
			.post-pagination .pages {
				display: none;
			}
		}
	</style>
</head>

<body class="animsition">
	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">

					<!-- Logo desktop -->
					<a href="{% url 'index' %}" class="logo">
						<img src="{%static 'images/icons/logo-011.png' %}" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							{% if request.path == '/'%}
							<li class="active-menu">
								<a href="{% url 'index' %}">Home</a>
							</li>
							{% else %}
							<li>
								<a href="{% url 'index' %}">Home</a>
							</li>
							{% endif %}

							{% if request.path == '/shop/'%}
							<li class="active-menu">
								<a href="{% url 'product' %}">Shop</a>
							</li>
							{% else %}
							<li>
								<a href="{% url 'product' %}">Shop</a>
							</li>
							{% endif %}

							{% if request.path == '/about/'%}
							<li class="active-menu">
								<a href="{% url 'about' %}">About</a>
							</li>
							{% else %}
							<li>
								<a href="{% url 'about' %}">About</a>
							</li>
							{% endif %}

							{% if request.path == '/contact/'%}
							<li class="active-menu">
								<a href="{% url 'contact' %}">Contact</a>
							</li>
							{% else %}
							<li>
								<a href="{% url 'contact' %}">Contact</a>
							</li>
							{% endif %}
						</ul>
					</div>

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<div class="searchh-box">
							<input type="text" name="searchh" class="searchh" placeholder="Type to search">

							<a href="#" class="searchh-btn">
								<i class="fas fa-search"></i>
							</a>

						</div>

						<div class="header-info-right">
							<ul class="main-menu">
								{% if user.is_authenticated %}
								<li>
									<div class="dropdown">
										{% if user.is_staff or user.is_superuser %}
										<a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"><i class="ti-user"></i>Hello, {{user.username}}</a>
										<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
											<a class="dropdown-item" type="button" href="{% url 'edit_profile' %}">User
												Profile</a>
											<a class="dropdown-item" type="button" href="{% url 'my_product' %}">My
												Products</a>
										</div>
										{% endif %}
									</div>
								</li>
								<li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
								{% else %}
								<li><a href="{% url 'login' %}"><i class="ti-user"></i>Login</a></li>
								{% endif %}
							</ul>
						</div>
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-user"></i>
						</div>
					</div>
				</nav>
				<div class="subscription">
					{% for message in messages %}
					<div class="container-fluid p-0">
						<div class="alert {{ message.tags }} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							{{ message }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<div class="header-info-right">
				<ul class="main-menu">
					{% if user.is_authenticated %}
					<li>
						<div class="dropdown">
							{% if user.is_staff or user.is_superuser %}
							<a href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"><i class="ti-user"></i>Hello, {{user.username}}</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<a class="dropdown-item" type="button" href="{% url 'edit_profile' %}">User Profile</a>
								<a class="dropdown-item" type="button" href="{% url 'my_product' %}">My Products</a>
							</div>
							{% endif %}
						</div>
					</li>
					<li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
					{% else %}
					<li><a href="{% url 'login' %}"><i class="ti-user"></i>Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="wrap-header-mobile">
			<div class="subscription">
				{% for message in messages %}
				<div class="container-fluid p-0">
					<div class="alert {{ message.tags }} alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message }}
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- Logo moblie -->
			<div class="logo-mobile">
				<a href="{% url 'index' %}"><img src="{%static 'images/icons/logo-011.png' %}" alt="IMG-LOGO"></a>
			</div>
			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">

			<ul class="main-menu-m">
				<li>
					<a href="{% url 'index' %}">Home</a>
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href="{% url 'product' %}">Shop</a>
				</li>

				<li>
					<a href="{% url 'about' %}">About</a>
				</li>

				<li>
					<a href="{% url 'contact' %}">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{%static 'images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15" action="">
					<button class="flex-c-m trans-04" type="submit">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="q" value="{{request.GET.q}}" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>

	<main>
		{% block content %}

		{% endblock %}
	</main>

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						{% for category in cat_menu %}
						<li class="p-b-10">
							<a href="{% url 'category' category %}" class="stext-107 cl7 hov-cl1 trans-04">
								{{category}}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
						<li class="p-b-10">
							<a href="{% url 'privacy-policy' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Privacy Policy
							</a>
						</li>
						<li class="p-b-10">
							<a href="{% url 'terms' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Terms of Service 
							</a>
						</li>
						<li class="p-b-10">
							<a href="{% url 'disclaimer' %}" class="stext-107 cl7 hov-cl1 trans-04">
								Affiliate Disclosure
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-10">
						GET IN TOUCH
					</h4>

					<div class="p-t-27">
						<a href="https://www.facebook.com/Shopizees/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"
							target="_blank" rel="noopener noreferrer">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="https://www.instagram.com/shopizee/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"
							target="_blank" rel="noopener noreferrer">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16" target="_blank" rel="noopener noreferrer">
							<i class="fa fa-twitter"></i>
						</a>

						<a href="https://in.pinterest.com/shopizee/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16"
							target="_blank" rel="noopener noreferrer">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email"
								placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">

				<p class="stext-107 cl6 txt-center">
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="blank">Colorlib</a>
				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'js/ajax.js' %}"></script>
	<script src="https://kit.fontawesome.com/f06b639672.js"></script>

	<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function () {
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/slick/slick.min.js' %}"></script>
	<script src="{% static 'js/slick-custom.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
	<script>
		$('.parallax100').parallax100();
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function () { // the containers for all your galleries
			$(this).magnificPopup({
				delegate: 'a', // the selector for gallery item
				type: 'image',
				gallery: {
					enabled: true
				},
				mainClass: 'mfp-fade'
			});
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2').on('click', function (e) {
			e.preventDefault();
		});

		$(document).on('submit', '.needs-validation', function (event) {
			var nameProduct = $(this).parent().parent().parent().find('#id_username').html();

				swal(nameProduct, "Profile Updated Successfully", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('continue');
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function () {
			$(this).css('position', 'relative');
			$(this).css('overflow', 'hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>